<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
              <a href="#home" data-toggle="tab">
                 主页
              </a>
            </li>
            <li><a href="#account" data-toggle="tab">账户查询</a></li>
            <li><a href="#balance" data-toggle="tab">余额查询</a></li>
          </ul>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
        <!-- <router-outlet></router-outlet> -->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <p>这里是首页</p>
            </div>
            <div class="tab-pane fade" id="account">
                <div class="col-left">
                    <div class="box" >
                      <div class="box-header">
                          <h3 class="box-title">账号列表</h3><br>
                          <table>
                            <tr>
                              <td>
                                <h3 class="box-title">请选择银行</h3>
                              </td>
                              <td>
                                  <select class="accountInput" name="" id="">
                                    <option value="">招商</option>
                                  </select>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h3 class="box-title">信托项目:</h3>
                              </td>
                              <td>
                                <input type="text" class="accountInput">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h3 class="box-title">财务账套号:</h3>
                              </td>
                              <td>
                                <input type="text" class="accountInput">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h3 class="box-title">账户类别:</h3>
                              </td>
                              <td>
                                <input type="text" class="accountInput">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h3 class="box-title">查询时间段</h3>
                              </td>
                              <td>

                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h3 class="box-title">开始时间:</h3>
                              </td>
                              <td>
                                <input type="text" class="accountInput">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h3 class="box-title">结束时间:</h3>
                              </td>
                              <td>
                                <input type="text" class="accountInput">
                              </td>
                            </tr>
                          </table>
                          <input type="text" placeholder="请输入账户信息搜索"><button type="button" class="btn btn-primary btn-sm" style="margin-left:10px;">查询</button>
                      </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="height:300px;overflow:auto">
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                      <p>账户简称 88888888888888888</p>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
              <!-- /.left-table-end -->

              <div class="col-right">
                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">账户余额</h3>
                    </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <table class="table table-striped">
                      <tr>
                        <th style="text-align:right">账户：</th>
                        <th >88888888</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">户名：</th>
                          <th >览众科技</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">可用余额（元）：</th>
                          <th >888888.88</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">更新时间：</th>
                          <th >2017-10-19 20:41:59</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">开户行：</th>
                          <th >招商Ubank</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">项目简称：</th>
                          <th >项目简称</th>
                      </tr>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- right-table-top-end -->

              <div class="col-right">
                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">交易记录</h3>
                    </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <table class="table table-striped">
                      <tr>
                        <th>
                            <input type="checkbox" name="" id="">
                        </th>
                        <th>交易日</th>
                        <th>借</th>
                        <th>贷</th>
                        <th>余额</th>
                        <th>摘要</th>
                        <th>收（付）方账号</th>
                        <th>收（付）方名称</th>
                        <th>交易时间</th>
                        <th>更新时间</th>
                      </tr>
                      <tr>
                          <th>
                            <input type="checkbox" name="" id="">
                          </th>
                          <th>2017-10-18</th>
                          <th>5000.00</th>
                          <th>60.00</th>
                          <th>5008.23</th>
                          <th>览众信托计划一号认购</th>
                          <th>700058611455445</th>
                          <th>金融客户（1）</th>
                          <th>2017-10-18 19:20:55</th>
                          <th>2017-10-18 19:20:55</th>
                        </tr>
                        <tr>
                            <th>
                              <input type="checkbox" name="" id="">
                            </th>
                            <th>2017-10-18</th>
                            <th>5000.00</th>
                            <th>60.00</th>
                            <th>5008.23</th>
                            <th>览众信托计划一号认购</th>
                            <th>700058611455445</th>
                            <th>金融客户（1）</th>
                            <th>2017-10-18 19:20:55</th>
                            <th>2017-10-18 19:20:55</th>
                          </tr>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <button type="submit" class="btn btn-primary">导出</button>
              </div>
              <!-- right-table-bottom-end -->
            </div>
            <!-- account-end -->


            <div class="tab-pane fade" id="balance">
                <div class="col-left">
                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">账号列表</h3><br>
                        <table>
                          <tr>
                            <td>
                              <h3 class="box-title">请选择银行</h3>
                            </td>
                            <td>
                                <select class="accountInput" name="" id="">
                                  <option value="">招商</option>
                                </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h3 class="box-title">信托项目:</h3>
                            </td>
                            <td>
                              <input type="text" class="accountInput">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h3 class="box-title">财务账套号:</h3>
                            </td>
                            <td>
                              <input type="text" class="accountInput">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h3 class="box-title">账户类别:</h3>
                            </td>
                            <td>
                              <input type="text" class="accountInput">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h3 class="box-title">查询时间段</h3>
                            </td>
                            <td>

                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h3 class="box-title">开始时间:</h3>
                            </td>
                            <td>
                              <input type="text" class="accountInput">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h3 class="box-title">结束时间:</h3>
                            </td>
                            <td>
                              <input type="text" class="accountInput">
                            </td>
                          </tr>
                        </table>
                        <input type="text" placeholder="请输入账户信息搜索"><button type="button" class="btn btn-primary btn-sm" style="margin-left:10px;">查询</button>
                    </div>
                  <!-- /.box-header -->
                  <div class="box-body" style="height:300px;overflow-y:auto">
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                    <p>账户简称 88888888888888888</p>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.left-table-end -->

              <div class="col-right">
                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">账户余额</h3>
                    </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <table class="table table-striped">
                      <tr>
                        <th style="text-align:right">账户：</th>
                        <th >88888888</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">户名：</th>
                          <th >览众科技</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">可用余额（元）：</th>
                          <th >888888.88</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">更新时间：</th>
                          <th >2017-10-19 20:41:59</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">开户行：</th>
                          <th >招商Ubank</th>
                      </tr>
                      <tr>
                          <th style="text-align:right">项目简称：</th>
                          <th >项目简称</th>
                      </tr>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- right-table-top-end -->

              <div class="col-right">
                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">交易记录</h3>
                    </div>
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <table class="table table-striped">
                      <tr>
                        <th>
                            <input type="checkbox" name="" id="">
                        </th>
                        <th>交易日</th>
                        <th>余额</th>
                      </tr>
                      <tr>
                          <th>
                            <input type="checkbox" name="" id="">
                          </th>
                          <th>2017-10-18</th>
                          <th>5008.23</th>
                        </tr>
                        <tr>
                            <th>
                              <input type="checkbox" name="" id="">
                            </th>
                            <th>2017-10-18</th>
                            <th>5008.23</th>
                          </tr>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <button type="submit" class="btn btn-primary">导出</button>
              </div>
            </div>

        </div>



    </section>
    <!-- /.content -->
  </div>


